@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --primary-color: #e74328;
    --secundary-color: #F5F5F5;
}

body {
    height: 100vh;
    width: 680px;
    margin: auto; 
    border: 5px solid #000000;
    background: #4F4F4F;
}

.topo {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    height: 75px;
}

#icone-topo {
    font-size: 50px;
    margin: 10px;
    color: var(--secundary-color);
    margin-right: 320px;
}

.corpo-financeiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: var(--secundary-color);
    height: calc(100% - 75px);
    width: 680px;
    overflow: auto;
}

#corpo-concluido {
    display: none;
}

#corpo-cancelado {
    display: none;
}

#corpo-faturamento {
    display: none;
}

.data-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.nome-data {
    margin-top: 10px;
    margin-bottom: 10px;
}

.data-inicial,
.data-final {
    text-align: center;
    width: 170px;
    height: 25px;
    background:  transparent;
    border: 4px double var(--primary-color);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    transition: all 1s ease;
}

.titulo {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border-bottom: 4px solid var(--primary-color);
    margin-top: 30px;
}

.rotacao {
    animation: rotacao 1s;
}

.tabela {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    border-spacing: 0;
}

tr {
    width: 100%;
}

th {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

td {
    padding: 10px;
    font-size: 15px;
}

th, td {
    text-align: center;
    width: 20%;
    border: 1px solid #000000;
}


@keyframes rotacao {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(90deg);
    }
}
