@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --primary-color: #e74328;
    --secundary-color: #F5F5F5;
}

body {
    height: 100vh;
    width: 680px;
    margin: auto; 
    border: 5px solid #000000;
    background: #4F4F4F;
}

.topo {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    height: 75px;
}

#icone-topo {
    font-size: 50px;
    margin: 10px;
    color: var(--secundary-color);
    margin-right: 320px;
}

#icone-topo-nav {
    font-size: 50px;
    margin: 10px;
    margin-left: 20px;
}

.corpo-pedidos {
    position: absolute;
    background: var(--secundary-color);
    height: calc(100% - 75px);
    width: 680px;
    overflow: auto;
}

.inputs {
    display: flex;
}

#icone-pesquisar {
    margin: 50px 10px 0 20px;
    transform: scaleX(-1);
    
}

#pesquisar {
    width: 170px;
    height: 20px;
    margin: 50px 30px 0 0;
}

#add-btn {
    width: 170px;
    height: 25px;
    margin: 50px 15px 0;
    background:  transparent;
    border: 4px double var(--primary-color);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    transition: all 1s ease;
    margin: 50px 0 0 230px;
    cursor: pointer;
}

#add-produtos,
#remover-produto,
#edit-produtos {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.60);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.btn-voltar {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
}

#icon-voltar {
    margin-right: 5px;
}

.campo-add,
.campo-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--secundary-color);
    margin: 100px auto;
    width: 550px;
    height: 380px;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    animation: aparecer 1.5s;
}

.input-add {
    margin: 8px 0 20px 0;
    border: transparent;
    background: transparent;
    border-bottom: 3px solid var(--primary-color);
    font-size: 15px
}

.input-add:focus {
    outline: none;
}

#btn-final {
    display: none;
    width: 170px;
    height: 25px;
    margin: 10px 15px 0;
    background:  transparent;
    border: 4px double var(--primary-color);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    transition: all 1s ease;
}

#btn-editar {
    display: none;
    width: 170px;
    height: 25px;
    margin: 10px 15px 0;
    background:  transparent;
    border: 4px double var(--primary-color);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    transition: all 1s ease;
}

.campo-remover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--secundary-color);
    margin: 100px auto;
    width: 600px;
    height: 200px;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    animation: aparecer 1.5s;
}

.campo-remover h1 {
    text-align: center;
}

#btn-nao{
    width: 130px;
    height: 35px;
    margin-right: 20px;
    color: var(--secundary-color);
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: var(--primary-color);
    cursor: pointer;
    font-size: 15px;
}

#btn-sim {
    width: 130px;
    height: 35px;
    margin-left: 20px;
    color: var(--secundary-color);
    background: #32CD32;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    padding: 15px;
}

.pedidos {
    margin-top: 5px;
}

th {
    background: #ebe7e0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

th, td {
    font-family: "Roboto", sans-serif;
    border: 1px solid #000000;
    text-align: center;
}

.btn-excluir,
.btn-copiar, 
.btn-editar {
    cursor: pointer;
}

@keyframes aparecer {
    from {
        opacity: 0;      
        transform: translateY(-35%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
    

